{% extends "base.html" %}
{% block content %}

<h2>Bill History</h2>

<table border="1" width="100%" cellpadding="6">
    <tr>
        <th>Bill ID</th>
        <th>Cashier</th>
        <th>Date</th>
        <th>Grand Total</th>
        <th>Action</th>
    </tr>

    {% for b in bills %}
    <tr>
        <td>{{ b.id }}</td>
        <td>{{ b.cashier }}</td>
        <td>{{ b.created_at }}</td>
        <td>₹ {{ "%.2f"|format(b.grand_total) }}</td>
        <td>
            <a href="/billing/invoice/{{ b.id }}">View / Print</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
